<app-navbar></app-navbar>

<div class="main">
  <div class="container">
      <div class="heading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class="heading__primary">List your properties on Reservations.com and start welcoming guests</p>
        <p class="heading__secondary">To get started, choose the type of property you want to list on
          Reservations.com</p>
        &nbsp;&nbsp;
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <i class="fa fa-home fa-5x" style="color: #311b92"></i>
              <br>
              <legend class="card-title" style="font-weight: 400">Hotel, B&Bs, and more</legend>
              <span class="card-text" style="font-size: 15px">
                Properties like Hotels, B&Bs, guest houses, hostels, aparthotel, etc
              </span>
              <br>
              <br>
              <button class="btn btn-primary" routerLink="/property-type">List your property</button>
              <br>
              <br>
            </div>
          </div>
          <br>
        </div>
      </div>
  </div>
</div>
