<app-navbar></app-navbar>

<div class="main">
  <div class="container">
      <div class="heading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class="heading__primary">List your properties on Reservations.com and start welcoming guests</p>
        <p class="heading__secondary">To get started, choose the type of property you want to list on
          Reservations.com</p>
        &nbsp;&nbsp;
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <i class="fa fa-home fa-5x" style="color: #311b92"></i>
              <br>
              <h5 class="card-title">Apartment</h5>
              <span class="card-text">
                Furnished and self-catering accommodation, where guests rent the entire place.
              </span>
              <br>
              <br>
              <button class="btn btn-primary" routerLink="/property-type">List your property</button>
              <br>
              <br>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <i class="fa fa-home fa-5x" style="color: #311b92"></i>
              <br>
              <h5 class="card-title">Apartment</h5>
              <span class="card-text">
                Furnished and self-catering accommodation, where guests rent the entire place.
              </span>
              <br>
              <br>
              <button class="btn btn-primary">List your property</button>
              <br>
              <br>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <i class="fa fa-home fa-5x" style="color: #311b92"></i>
              <br>
              <h5 class="card-title">Apartment</h5>
              <span class="card-text">
                Furnished and self-catering accommodation, where guests rent the entire place.
              </span>
              <br>
              <br>
              <button class="btn btn-primary">List your property</button>
              <br>
              <br>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <i class="fa fa-home fa-5x" style="color: #311b92"></i>
              <br>
              <h5 class="card-title">Apartment</h5>
              <span class="card-text">
                Furnished and self-catering accommodation, where guests rent the entire place.
              </span>
              <br>
              <br>
              <button class="btn btn-primary">List your property</button>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="card text-center" style="width: 18rem;">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Hotel</h5>-->
<!--          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--          <a routerLink="/property-type" class="btn btn-primary">List your property</a>-->
<!--        </div>-->
<!--      </div>-->
  </div>
</div>
