<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Reservations.com</a>
    <a class="nav-link d-flex" data-bs-toggle="modal" data-bs-target="#languageModal">
      <img class="language" src="../../../assets/gb.png" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="Choose your language" alt="">
    </a>
  </div>
</nav>

<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
