<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <a class="nav-link d-flex" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="language" src="../../../assets/gb.png"></a>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>

    </div>
  </div>
</div>
