<app-navbar></app-navbar>
<div class="container-fluid mb-5">
  <div class="d-grid p-5">
    <div class="text-light">
      <div class="card-body">
        <span class="fw-bold" style="font-size: 50px">List your
          <br/>
          <b style="color: #46a6e7">Hotel</b>
           on Reservation.com</span>
        <br>
        <span style="font-size: 21px">
          Registration is free and can take as little as 15 minutes to complete – get started today
        </span>
      </div>
    </div>
    <div class="card p-3">
      <div class="card-body">
        <header class="fw-bold text-dark" style="font-size: 20px">Create new Listing</header>
        <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> More than
          6.4 million
          holiday
          rentals already
          listed</p>
        <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> Over 1 billion holiday rental guest arrivals</p>
        <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> More than 40% of the new holiday rental listings get their first booking within a week</p>
        <hr/>
        <span class="fw-bold" style="font-size: 15px">Create a partner account to get started:</span>
        <p class="fw-lighter">By continuing, you agree to let Booking.com email you regarding your property registration.</p>
        <a class="btn p-2" href="#" role="button"
           style="background-color: #0071c2; width: 100%; color: white">Get Started
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <hr/>
        <div class="sub">
          <strong>Already started a registration?</strong>
          <br/>
          <a style="color: #46a6e7; text-decoration: none" href="#">Continue your registration</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-grid section-1">
  <div class="options">
    <h3>Your peace of mind is our top priority</h3>
    <span>Here’s how we’re helping you feel confident welcoming guests:</span>
    <div class="list">
      <ul class="fw-light" style="font-size: 20px">
        <li>
          <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 1em;"></i>
          Set house rules guest must agree to before they stay</li>
        <li>
          <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 1em;"></i>
          Request damage deposits for extra security</li>
        <li>
          <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 1em;"></i>
          Report guest misconduct if something goes wrong</li>
        <li>
          <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 1em;"></i>
          Access 24/7 support in 43+ languages</li>
        <li>
          <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 1em;"></i>
          Protection against liability claims from guests and neighbours up to £1,000,000 for every reservation
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-outline-primary mt-5" style="border-color: #2A6496; color: #2A6496">Learn
      more</button>
  </div>
  <div class="svg-image">
   <figure>
     <img src="../../../assets/images/svg-image.svg" />
   </figure>
  </div>
</div>
<div class="section">
  <h2>Which best describes you?</h2>
  <span>Select one of the options to see customised information</span>
  <div class="d-grid sub-boxes">
    <div class="card">
      <div class="card-body">
        <h5>I have a property that I rent out occasionally</h5>
        <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> This property is where I keep my personal belongings</p>
        <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> I have limited experience working in the hospitality industry</p>
      </div>
      <button type="button" class="btn btn-outline-primary mt-5" style="border-color: #2A6496; color: #2A6496;
         width: 10rem">Learn
        more</button>
    </div>
    <div class="card">
    <div class="card-body">
      <h5>I have multiple properties that I rent out year-round</h5>
      <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> These properties are primarily used for guests</p>
      <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> I have experience working in the hospitality industry</p>
    </div>
      <button type="button" class="btn btn-outline-primary mt-5"
              style="border-color: #2A6496; color: #2A6496; width: 10rem">Learn
        more</button>
  </div>
  </div>
</div>
<footer>
 <div class="d-grid footer1-grid">
   <div class="fw-bolder text-light">
     <h1 style="font-size: 60px">Sign up and start welcoming guests today!</h1>
   </div>
   <div class="card">
     <div class="card-body">
       <header class="fw-bold text-dark" style="font-size: 20px">Create new Listing</header>
       <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> More than
         6.4 million
         holiday
         rentals already
         listed</p>
       <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> Over 1 billion holiday rental guest arrivals</p>
       <p><span class="me-1" style="color: #06a106"><i class="fa fa-check" aria-hidden="true"></i> </span> More than 40% of the new holiday rental listings get their first booking within a week</p>
       <hr/>
       <span class="fw-bold" style="font-size: 15px">Create a partner account to get started:</span>
       <p class="fw-lighter">By continuing, you agree to let Booking.com email you regarding your property registration.</p>
       <a class="btn p-2" href="#" role="button"
          style="background-color: #0071c2; width: 100%; color: white">Get Started
         <i class="fa fa-arrow-right" aria-hidden="true"></i>
       </a>
     </div>
   </div>
 </div>
  <div class="footer-links d-grid">
    <div class="link1 ms-5">
      <p><a class="fw-bold">About Us</a></p>
      <p><a>Vifieh Ruth</a></p>
      <p><a>Vifieh Ruth</a></p>
    </div>
    <div class="link2">
      <p><a class="fw-bold">Vifieh Ruth</a></p>
      <p><a>Vifieh Ruth</a></p>
      <p><a>Vifieh Ruth</a></p>
    </div>
    <div class="link3">
      <p><a class="fw-bold">Vifieh Ruth</a></p>
      <p><a>Vifieh Ruth</a></p>
      <p><a>Vifieh Ruth</a></p>
    </div>
  </div>
  <hr/>
  <p class="text-light" style="text-align: center; padding: 3rem">© Copyright Reservation.com 2022</p>
</footer>
