<app-list-property-navbar></app-list-property-navbar>

<div class="container">
    <div class="col-md-9">
      <div class="card">
        <h5>{{propertyName}}</h5>
        <h1>We're building your property</h1>
        <br>
        <div class="row">
          <p>It's time to setup your property</p>
          <p>Click the button to complete your listing</p>
        </div>
        <br>
        <a (click)="completeRegistration()" class="btn btn-primary" style="width: 40%">Complete registration</a>
      </div>

  </div>
</div>
