<app-navbar></app-navbar>
  <div class="main">
    <div class="container">
      <br>
      <div *ngIf="showHotel" class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-primary">Our top topics</button>
          <br>
          <br>
          <form class="form">
            <h3>Search</h3>
            <div class="form-group">
              <label>Destination/property name</label>
              <input type="text" class="form-control" placeholder="Douala">
            </div>
            <br>
            <div class="form-group">
              <label>Check-in date</label>
              <input type="date" class="form-control">
            </div>
            <br>
            <div class="form-group">
              <label>Check-out date</label>
              <input type="date" class="form-control">
            </div>
            <br>
            <div class="form-group">
              <label>Room type</label>
              <select class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                I'm travelling for work
              </label>
            </div>
            <br>
            <button class="btn btn-primary" style="width: 100%">Search</button>
          </form>
        </div>
        <div class="col-md-9">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">Home and Apartment first</button>
            <button type="button" class="btn btn-outline-primary">Stars (Highest first)</button>
            <button type="button" class="btn btn-outline-primary">Stars (Lowest first)</button>
            <button type="button" class="btn btn-outline-primary">Distance from city centers</button>
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-dot-circle-o fa-2x"></i></button>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h5 class="card-title">{{property?.name}}
                <i class="fa fa-star fa-1x" style="color: orange"></i> &nbsp;
                <i class="fa fa-thumbs-o-up fa-1x" style="color: orange"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-bus fa-1x" style="color: dodgerblue">Airport shuttle</i>&nbsp;&nbsp;&nbsp;
              </h5>
              <span><i class="fa fa-location-arrow "></i> {{property?.propertyAddressDto?.streetAddress}},Avenue Charles de GAULLE, Doula, Cameroon </span>
            </div>
            <div class="col-md-6" style="text-align: right">
              <i class="fa fa-heart-o fa-1x" style="color: dodgerblue"></i> &nbsp;
              <i class="fa fa-share-square-o fa-1x" style="color: dodgerblue"></i> &nbsp;
              <a (click)="onClick('reserveRooms')" class="btn btn-primary">Reserve</a>
            </div>
          </div>

          <br>
          <div class="row">
            <div *ngFor="let propertyImage of property?.fileInfoList" class="col-md-3">
              <img [src]="propertyImage.url" alt="{{propertyImage.name}}">
            </div>
            <br><br><br>
          </div>
        </div>

<!--        <div class="row">-->
<!--          <div class="col-md-9">-->
<!--            <p>You're eligible for a Genius discount at ONOMO Hotel Douala! To save at this property, all you have to do-->
<!--              is sign in or register.-->

<!--              Set in Douala, less than 1 km from Bonanjo Park, ONOMO Hotel Douala offers accommodation with a-->
<!--              restaurant,-->
<!--              free private parking, an outdoor swimming pool and a fitness centre. With free WiFi, this 3-star hotel has-->
<!--              a-->
<!--              bar and a shared lounge. The accommodation provides evening entertainment and a 24-hour front desk.-->

<!--              At the hotel, all rooms have a desk. All guest rooms at ONOMO Hotel Douala come with a TV with satellite-->
<!--              channels and a safety deposit box.-->

<!--              A buffet breakfast is available every morning at the accommodation.-->

<!--              ONOMO Hotel Douala offers a terrace.-->

<!--              There is an in-house snack bar and guests can also make use of the business area.-->

<!--              Port of Douala is 1.3 km from the hotel, while Akwa Stadium is 1.6 km from the property.-->

<!--              Couples particularly like the location — they rated it 8.9 for a two-person trip.-->

<!--              ONOMO Hotel Douala has been welcoming Booking.com guests since 30 Jun 2019.-->
<!--              Hotel chain/brand: ONOMO HOTELS-->

<!--              Distance in property description is calculated using © OpenStreetMap</p>-->

<!--            <h4>Most popular facilities</h4>-->
<!--            <br>-->
<!--            <span><i class="fa fa-wifi"></i>  1 swimming pool</span>-->
<!--            <span><i class="fa fa-wifi"></i>  1 swimming pool</span>-->
<!--            <span><i class="fa fa-wifi"></i>  1 swimming pool</span>-->
<!--            <span><i class="fa fa-wifi"></i>  1 swimming pool</span>-->
<!--          </div>-->
<!--          <br>-->
<!--          <p><span style="font-weight: bold">ATM:</span> Need cash? This property has an ATM machine on site.</p>-->
<!--          <div class="col-md-3"></div>-->
<!--        </div>-->
      </div>
      <div *ngIf="showHotel">
        <a id="reserveRooms"></a>
        <br>
        <hr>
        <h3>Availability</h3>
        <br>
        <h4>When would you like to stay at {{property?.name}}</h4>
      </div>
      <form [formGroup]="reserveRoomForm" (ngSubmit)="reserveRoom()">
        <div *ngIf="showHotel" class="card form1">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Check-in date</label>
                <input
                  type="date"
                  formControlName="checkIn"
                  (change)="getCheckIn($event)"
                  class="form-control">
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label>Check-out date</label>
                <input
                  type="date"
                  formControlName="checkOut"
                  (change)="getCheckOut($event)"
                  class="form-control">
              </div>
            </div>
            <br>
            <div class="col-md-2">
              <br>
              <button (click)="checkAvailability()" class="btn btn-primary">check availability</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Adults</label>
                <select
                  formControlName="numberOfAdults"
                  class="form-select">
                  <option *ngFor="let adult of adults" value="{{adult}}">{{adult}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Children</label>
                <select
                  formControlName="numberOfChildren"
                  class="form-select">
                  <option *ngFor="let child of children" value="{{child}}">{{child}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showHotel" class="row">
          <div class="col-md-10">
            <br>
            <table class="table table-bordered table-responsive-md">
              <thead>
              <tr>
                <th>Room type</th>
                <th>sleep</th>
                <th *ngIf="showTableField">Prices for {{diffDays}} nights</th>
                <th *ngIf="showTableField">Select rooms</th>
                <th *ngIf="showPrice"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let room of rooms">
                <td>
                  <div>
                    <span>{{room.roomName}}</span>
                    <br>
                  </div>
                  <div *ngFor="let roomBed of room.roomBedAvailableDtoList">
                    <p>{{roomBed.numberOfBeds}} {{roomBed.bedAvailableDto?.name | subString}} &nbsp;<i
                      class="fa fa-bed fa-1x"></i></p>
                  </div>
                  <br>
                </td>
                <td>
                  <div>
                    {{room.numberOfGuests}} *
                    <i class="fa fa-user fa-1x"></i>
                  </div>
                </td>
                <td *ngIf="showTableField">
                  {{room.currency}} {{room.unitPrice! * diffDays!}}
                </td>
                <td *ngIf="showTableField">
                  <div class="form-group">
                    <select
                      (change)="addReservationItemPayload($event, room)"
                      formControlName="totalPrice"
                      class="form-select"
                      style="width: 30%">
                      <option value="0">0</option>
                      <option
                        *ngFor="let numberOfRoom of numberOfRooms(room.numberOfRooms!); let i = index"
                        value="{{room.unitPrice!* diffDays! * (i + 1)}}">
                        {{i + 1}}
                        ({{room.currency}} {{room.unitPrice! * diffDays! * (i + 1)}})
                      </option>
                    </select>
                  </div>
                </td>
                <td *ngIf="showPrice">
                  <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip"
                          title="enter your check-in and check-out dates in the
                   search box on the left to see the exact room
                   prices for your stay and to be able to sort by
                   price.">
                    show prices
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="showTableField" class="col-md-2">
            <br><br>
            <div>
              <button (click)="reservationClicked()" class="btn btn-primary" data-bs-placement="bottom"
                      data-bs-toggle="tooltip"
                      title="select your accommodation first" style="width: 100%">
                I'll reserve
              </button>
              <br>
              <ul style="margin: 1rem">
                <li>
                  Confirmation is immediate
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="showHotel">
          <br>
          <div class="card card1">
            <legend> We'll send you an email confirming your reservation.</legend>
            <span>Get instant confirmation with FREE cancellation on most rooms!</span>
          </div>
          <br>
          <br>
          <h4>5 reasons to choose {{property?.name}}</h4>
          <br>
          <p><i class="fa fa-print fa-2x"></i>&nbsp;&nbsp; Prices you can't beat</p>
          <p><i class="fa fa-lock fa-2x"></i>&nbsp;&nbsp; Booking is safe</p>
          <p><i class="fa fa-hotel fa-2x"></i>&nbsp;&nbsp; Manage your bookings online</p>
          <p><i class="fa fa-language fa-2x"></i>&nbsp;&nbsp; The staff speak english</p>
          <p><i class="fa fa-location-arrow fa-2x"></i>&nbsp;&nbsp; Great locations and facilities for couples</p>
          <br>
          <!--    <br>-->
          <!--    <div class="row">-->
          <!--      <div class="col-md-6">-->
          <!--        <h4>Guest reviews</h4>-->
          <!--      </div>-->
          <!--      <div class="col-md-6" style="text-align: right">-->
          <!--        <button class="btn btn-primary">See availabilities</button>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--    <br>-->
          <!--    <span><i class="badge bg-primary rounded-pill">8.1</i> Very good · 559 reviews Read all reviews</span>-->
          <!--    <br>-->
          <!--    <h6>Categories:</h6>-->
          <!--    <br>-->
          <!--    <div class="row">-->
          <!--      <div class="col-md-4">-->
          <!--        <p>staff</p>-->
          <!--        <div class="progress">-->
          <!--          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--        </div>-->
          <!--        <br>-->
          <!--      </div>-->

          <!--      <div class="col-md-4">-->
          <!--        <p>staff</p>-->
          <!--        <div class="progress">-->
          <!--          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--        </div>-->
          <!--        <br>-->

          <!--      </div>-->
          <!--      <div class="col-md-4">-->
          <!--        <p>staff</p>-->
          <!--        <div class="progress">-->
          <!--          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--        </div>-->
          <!--      </div>-->
          <!--      <div class="col-md-4">-->
          <!--        <p>staff</p>-->
          <!--        <div class="progress">-->
          <!--          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
          <!--        </div>-->
          <!--        <br>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--    <p>Select topics to read reviews:</p>-->
          <!--    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Room</button>&nbsp;&nbsp;-->
          <!--    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Room</button>&nbsp;&nbsp;-->
          <!--    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Room</button>&nbsp;&nbsp;-->
          <!--    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> Room</button>&nbsp;&nbsp;-->
          <br>
          <p>See what guests loved the most:</p>
          <br>
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of slides">
              <ng-template carouselSlide>
                <div class="card" style="text-align: center;">
                  <div class="row">
                    <div class="col-md-2">
                      <img [src]="slide.img" style="width: 5rem; height: 5rem" class="rounded-circle  img">
                    </div>
                    <div class="col-md-6">
                      <span>{{slide.title}}</span>
                    </div>
                  </div>
                  <br>
                  <span class="form-text">{{slide.des}}</span>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <br>
          <h3>Facilities of {{property?.name}}</h3>
          <br>
          <br>
          <div class="row">
            <div *ngFor="let propertyFacility of propertyFacilities" class="col-md-4" style="margin-bottom: 1rem">
              <i class="fa fa-check" style="font-weight: 200"></i> &nbsp;&nbsp;
              <span>{{propertyFacility.facilityDto.name}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="showReservation" class="row">
          <br><br>
          <div class="col-md-3">
            <div class="card">
              <div>
                <h5>Your booking details</h5>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <label>Check-in</label>
                  <p><b>{{checkIn | date}}</b></p>
                  <p>From 12:00</p>
                </div>
                <div class="col-md-6">
                  <label>Check-out</label>
                  <p><b>{{checkOut | date}}</b></p>
                  <p>Until 10:00</p>
                </div>
              </div>
              <br>
              <p>Total length of stay:</p>
              <b>{{diffDays}} nights</b>
              <br>
              <hr>
              <br>
              <p><b>You selected:</b></p>
              <span>{{room?.roomName}}</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img [src]="property.fileInfoList[0].url" class="img-fluid rounded-start"
                       [alt]="property.fileInfoList[0].name" style="height: 100%">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h5 class="card-title" style="margin-top: -2rem">{{property?.name}} &nbsp;
                          <span style="color: orange">{{property?.rating}}</span><i class="fa fa-star fa-1x"
                                                                                    style="color: orange"></i> &nbsp;
                          <i class="fa fa-thumbs-o-up fa-1x" style="color: orange"></i></h5>
                        <a style="color:blue; text-decoration: underline">Cameroon</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div formGroupName="contactDetailsPayload" class="card mb-3">
              <legend><b>Enter your details</b></legend>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>First name</label>
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Last name</label>
                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label>Email address</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="watch out for typos"
                  style="width: 40%">
              </div>
              <span class="form-text">Confirmation email goes to this address</span>
              <br>
              <b>Who are you booking for?</b>
              <div class="form-check">
                <input (change)="checkRadioButton($event)" class="form-check-input" type="radio" name="flexRadioDefault"
                       id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  I am the main guest
                </label>
              </div>
              <div class="form-check">
                <input (change)="checkRadioButton($event)" class="form-check-input" value="someone" type="radio"
                       name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Booking is for someone else
                </label>
              </div>
            </div>
            <div class="card mb-3">
              <h4>{{room?.roomName}}</h4>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Full guest name</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="fullName"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="First name, Last name">
                  </div>
                </div>
                <div *ngIf="showGuestEmail" class="col-md-6">
                  <div class="form-group">
                    <label>Guest email (optional)</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="guestEmail"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="Email address">
                  </div>
                  <span class="form-text">Emails are only used for sending reservation
                  information. No commercial messages – guaranteed.</span>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <legend><b>Special Request</b></legend>
              <br>
              <span>Special requests cannot be guaranteed – but the property will do its best to meet your needs.
            You can always make a special request after your booking is complete!</span>
              <br>
              <div class="mb-3">
                <label class="form-label">Please write your requests in English or French. (optional)</label>
                <textarea
                  formControlName="specialRequest"
                  class="form-control"
                  rows="3"></textarea>
              </div>
            </div>
            <div class="card mb-3">
              <legend><b>Your arrival time</b></legend>
              <br>
              <div class="form-group">
                <label>Add your estimated arrival time (optional)</label>
                <input
                  type="text"
                  formControlName="arrivalTime"
                  class="form-control"
                  placeholder="Enter a range of time" style="width: 45%">
              </div>
            </div>
            <div formGroupName="contactDetailsPayload" class="card mb-3">
              <legend><b>Enter your address details</b></legend>
              <br>
              <div class="form-group">
                <label>Country/region</label>
                <select
                  formControlName="countryId"
                  class="form-select"
                  style="width: 45%">
                  <option>Select county</option>
                  <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label>Phone number</label>
                <input
                  (change)="addNumber($event)"
                  type="text"
                  formControlName="phoneNumber"
                  class="form-control"
                  style="width: 45%">
              </div>
              <span class="form-text">Needed by the property to validate your booking</span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary complete">
              Complete booking
            </button>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>
