<app-list-property-navbar></app-list-property-navbar>
<app-list-property></app-list-property>
<div class="container">
  <h3>Facilities ans Services</h3>
  <p>Now, tell us some general details about your property, such as facilities available,
    internet, parking and the languages you speak.</p>
  <form class="col-md-9">
    <div class="card">
      <h4>Parking</h4>
      <span class="form-text"  style="background-color: gainsboro; padding: 0.5rem ">This information is especially
        important for those travelling to your accommodation by car.</span>
      <br>
      <div class="row">
        <label>Is parking available to guests?</label>
        <div class="col-md-6">
          <div class="form-group">
            <select  class="form-select">
              <option [ngValue]="null" disabled>Select county</option>
              <option value="double">double</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label>Do guests need to reserve a parking space?</label>
            <select  class="form-select">
              <option [ngValue]="null" disabled>Select county</option>
              <option value="double">double</option>
            </select>
          </div>
          <br>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select  class="form-select">
                  <option [ngValue]="null" disabled>Select county</option>
                  <option value="double">double</option>
                </select>
              </div>
              <br>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select  class="form-select">
                  <option [ngValue]="null" disabled>Select county</option>
                  <option value="double">double</option>
                </select>
              </div>
              <br>
            </div>
          </div>
          <div class="form-group">
            <label>Price for parking (per day)</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">XAF</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0">
            </div>

          </div>
          <br>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <h4>Breakfast</h4>
          <div class="form-group">
            <label>Is breakfast available to guests?</label>
            <select  class="form-select">
              <option [ngValue]="null" disabled>Select county</option>
              <option value="double">double</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label>Price for breakfast (per person, per day including all fees and taxes)</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">XAF</div>
              </div>
              <input type="text" class="form-control" placeholder="0">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>What kind of breakfast is available?</label>
            <select  class="form-select">
              <option [ngValue]="null" disabled>Select county</option>
              <option value="double">double</option>
            </select>
          </div>
          <br>
          <a style="color: dodgerblue"><i class="fa fa-plus-circle fa-1x"></i>Add another breakfast type</a>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <h4>Languages spoken</h4>
      <span class="form-text"  style="background-color: gainsboro; padding: 0.5rem">What languages do you or your staff speak?</span>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select  class="form-select">
              <option [ngValue]="null" disabled>Select county</option>
              <option value="double">double</option>
            </select>
          </div>
          <br>
          <a style="color: dodgerblue"><i class="fa fa-plus-circle fa-1x"></i>Add another language</a>
        </div>
      </div>

    </div>
    <br>
    <div class="card">
      <h3>Facilities that are popular with guests</h3>

      <span class="form-text" style="background-color: gainsboro; padding: 0.5rem">Guests look for these facilities the
        most when they’re searching for properties.</span>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Free WiFi
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Non-smoking rooms
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Restaurant
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Room service
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Swimming pool
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Air conditioning
            </label>
          </div>
          <br>
        </div>

        <button class="btn btn-primary" style="width: 100%; height: 8vh; text-align: center">Continue</button>
      </div>
    </div>
    <br>
  </form>
</div>
