<app-list-property-navbar></app-list-property-navbar>
<app-list-property></app-list-property>
<div class="container">
  <br>
  <h4>Property photos</h4>
  <p>Great photos invite guests to get the full experience of your property, so upload some
    high-resolution photos that represent all your property has to offer.
    We will display these photos on your property's page on the Booking.com website.</p>
  <form class="col-md-9">
    <div class="card">
      <h5>Photo gallery</h5>
      <div class="b">
        <h4>Upload at least 1 photo</h4>
        <span>You will also be able to upload more after registration</span>
        <br>
        <br>
        <div class="col-md-6 offset-3">
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <br>
        <button class="btn btn-primary"><i class="fa fa-photo fa-1x"></i> Add photo</button>
      </div>
      <br>
      <div class="card" style="background-color: #FDF4D8; border: none;">
        <legend>No professional photos? No problem.</legend>
        <ol>
          <li>
            <i class="glyphicon glyphicon-chevron-right"></i>
            You can use:
            <i class="icon icon-mobilephone"></i>
            A smartphone
            <i class="icon icon-camera"></i>
            A digital camera
          </li>
          <li>
            <i class="glyphicon glyphicon-chevron-right"></i>
            <span>Top tip!
              <span class="modal-description modal_link_inline" data-toggle="modal" data-target="#photo-upload-suggestions">
                <a href="#" id="photos_tips_link" data-track-ga="click_photos_donts">Guests love photos! Here are some tips on taking great photos of your property</a>
              </span>
            </span>
          </li>
          <li>
            <i class="glyphicon glyphicon-chevron-right"></i>
            If you don’t know who took a photo, it's best to avoid using it. Only use photos which you took or own the
            copyright to, or if it was taken by someone else, make sure you have the photographer’s consent to use the
            photo.
          </li>
        </ol>
      </div>

    </div>
    <br>
    <button class="btn btn-primary" style="width: 100%; height: 8vh; text-align: center">Continue</button>
  </form>
</div>
