<app-list-property-navbar></app-list-property-navbar>
<app-list-property></app-list-property>
<div class="container">
  <h3>Amenities</h3>
  <p>You are nearly done! We just need a few more details about the extra bed
    options you provide, plus any amenities or specific features and services available.</p>
  <form class="col-md-9">
    <div class="card">
      <h4>Extra bed options</h4>
      <span class="form-text" style="background-color: gainsboro; padding: 0.5rem">These are the bed options that can be added upon request.</span>
      <div class="row">
        <br>
        <br>
        <span>Can you provide extra beds?</span>
        <div class="col-md-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Yes
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault1">
              No
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group col-md-5">
        <label>Select the number of extra beds that can be added.</label>
        <select  class="form-select">
          <option [ngValue]="null" disabled>Select county</option>
          <option value="double">double</option>
        </select>
      </div>
      <br>
      <h6>Tick the box if you can accommodate the following guests in extra beds.</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Children up to 2 years old in cots
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Children
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Adults
        </label>
      </div>
    </div>
    <br>
    <div class="card">
      <h4>Amenities</h4>
      <span>Tell us about your amenities</span>
      <br>
      <div class="base">
        <div class="row">
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Air conditioning
              </label>
              <br>
              <p class="form-text">Select where this amenity is available.</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Deluxe Double Room
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Single Room with Garden View
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="radio" id="yes1" name="fav_language" value="yes">
            <label for="yes1">All rooms</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="no1" name="fav_language" value="no" checked>
            <label for="no1">Some rooms</label>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
               Terrace
              </label>

              <br>
              <p class="form-text">Select where this amenity is available.</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Deluxe Double Room
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Single Room with Garden View
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="radio" id="yes" name="fav_language" value="yes">
            <label for="yes">All rooms</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="no" name="fav_language" value="no" checked>
            <label for="no">Some rooms</label>
          </div>
        </div>
<br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Electric kettle
          </label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Flat-screen TV
          </label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Spa bath
          </label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Balcony
          </label>
        </div>
      </div>
    <br>


      <button class="col-md-2" style="height: 5vh;" (click)="showText()" > {{ isShow ?'Hide all amenities ':  'Show all amenities '}}</button>
      <br>
      <div *ngIf="isShow">
    <h5>All amenities by category</h5>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <span style="float: right; font-size: 15px">2/28</span>
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h6>Room amenity</h6>
          </button>
        </h2>

        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Terrace
                  </label>

                  <br>
                  <p class="form-text">Select where this amenity is available.</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Deluxe Double Room
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Single Room with Garden View
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <input type="radio" id="yes" name="fav_language" value="yes">
                <label for="yes">All rooms</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="no" name="fav_language" value="no" checked>
                <label for="no">Some rooms</label>
              </div>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Electric kettle
              </label>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Flat-screen TV
              </label>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <h6>Food and drink</h6>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Terrace
                  </label>

                  <br>
                  <p class="form-text">Select where this amenity is available.</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Deluxe Double Room
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Single Room with Garden View
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <input type="radio" id="yes" name="fav_language" value="yes">
                <label for="yes">All rooms</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="no" name="fav_language" value="no" checked>
                <label for="no">Some rooms</label>
              </div>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Electric kettle
              </label>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Flat-screen TV
              </label>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <h6>Bathroom</h6>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Terrace
                  </label>

                  <br>
                  <p class="form-text">Select where this amenity is available.</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Deluxe Double Room
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Single Room with Garden View
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <input type="radio" id="yes" name="fav_language" value="yes">
                <label for="yes">All rooms</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="no" name="fav_language" value="no" checked>
                <label for="no">Some rooms</label>
              </div>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Electric kettle
              </label>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Flat-screen TV
              </label>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" style="width: 100%; height: 8vh; text-align: center">Continue</button>
    <br>
    <br>
  </form>
</div>
