<app-list-property-navbar></app-list-property-navbar>

<div class="main">
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="basic-info" data-bs-toggle="pill" data-bs-target="#pills-basic-info"
                  type="button" role="tab" aria-controls="pills-basic-info" aria-selected="true">Basic info
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="layout-and-pricing" data-bs-toggle="pill" data-bs-target="#pills-layout-pricing"
                  type="button" role="tab" aria-controls="pills-layout-pricing" aria-selected="false">Layout and pricing
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="facilities-services" data-bs-toggle="pill"
                  data-bs-target="#pills-facilities-services" type="button" role="tab"
                  aria-controls="pills-facilities-services" aria-selected="false">Facilities & services
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="amenities" data-bs-toggle="pill" data-bs-target="#pills-amenities" type="button"
                  role="tab" aria-controls="pills-amenities" aria-selected="true">Amenities
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos" data-bs-toggle="pill" data-bs-target="#pills-photos" type="button"
                  role="tab" aria-controls="pills-photos" aria-selected="false">Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="policies" data-bs-toggle="pill" data-bs-target="#pills-policies" type="button"
                  role="tab" aria-controls="pills-policies" aria-selected="false">Policies
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="payments" data-bs-toggle="pill" data-bs-target="#pills-payments" type="button"
                  role="tab" aria-controls="pills-payments" aria-selected="false">Payment
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-basic-info" role="tabpanel" aria-labelledby="basic-info">
          <div class="row">
            <div class="alignment_header">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 id="property-name">Welcome Vifieh Ruth!</h3>
              </div>
            </div>
            <div class="alignment_header">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page_description">
                  Start by telling us your property's name, contact details and address.
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-layout-pricing" role="tabpanel" aria-labelledby="layout-and-pricing">Layout
          and pricing
        </div>
        <div class="tab-pane fade" id="pills-facilities-services" role="tabpanel" aria-labelledby="facilities-services">
          Facilities & services
        </div>
        <div class="tab-pane fade" id="pills-amenities" role="tabpanel" aria-labelledby="amenities">Amenities</div>
        <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="photos">Photos</div>
        <div class="tab-pane fade" id="pills-policies" role="tabpanel" aria-labelledby="policies">Policies</div>
        <div class="tab-pane fade" id="pills-payments" role="tabpanel" aria-labelledby="payments">Payments</div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div id="stars_column" class="form-group col-xs-12 col-sm-4">-->
<!--    <label>Star rating</label>-->
<!--    <select class="col-md-12 form-control" id="stars" name="stars">-->
<!--      <option value="0" selected="selected">N/A</option>-->
<!--      <option value="1">1 ✯</option>-->
<!--      <option value="2">2 ✯✯</option>-->
<!--      <option value="3">3 ✯✯✯</option>-->
<!--      <option value="4">4 ✯✯✯✯</option>-->
<!--      <option value="5">5 ✯✯✯✯✯</option>-->
<!--    </select>-->

<!--  </div>-->
<!--</div>-->
