<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a routerLink="/basic-info/{{propertyTypeId}}"routerLinkActive="active">Basic Information</a>
    </div>
    <div class="col-md-2">
      <a routerLink="/layouts/{{propertyId}}" routerLinkActive="active">Layout and pricing</a>
    </div>
    <div class="col-md-2">
      <a routerLink="/facilities/{{propertyId}}" routerLinkActive="active">Facilities and services</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/amenities/{{propertyId}}" routerLinkActive="active">Amenities</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/photos/{{propertyId}}" routerLinkActive="active">Photos</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/policies/{{propertyId}}" routerLinkActive="active">Policies</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/payments/{{propertyId}}" routerLinkActive="active">Payment</a>
    </div>
  </div>
</div>

