/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*font-size: 62.5%;*/
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
  /*filter: blur(4px) !important;*/
}

a {
  cursor: pointer;
  text-decoration: none;
}


.btn-radio {
  border: 1px solid lightgray;
  padding: 6px 4px 4px 15px;
  border-radius: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
