<app-list-property-navbar></app-list-property-navbar>
<app-list-property></app-list-property>
<div class="container">
  <h3>Layout and pricing</h3>
  <div class="row" *ngIf="!isShow && !isViewRoom">
  <div class="card col-md-9" style="text-align: center; padding: 5rem">
    <i class="fa fa-bed fa-5x"></i>
    <br>
    <span>
    No rooms have been added to your property. Start adding rooms to describe bed options, layout and pricing for guests.
    </span>
    <br>
    <button class="btn btn-primary" (click)="isCheck()">Add room</button>
  </div>
  </div>

  <div class="row" *ngIf="isShow && !isViewRoom">
    <a>Go back to overview</a>

    <form class="col-md-9">
      <br>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <h3>Double</h3>
            <br>
            <div class="form-group">
              <label>Room type</label>
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
                <option value="double">single</option>
                <option value="double">twin</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label>Room name</label>
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label>Smoking policy</label>
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
            <br>
            <div class="form-group col-md-4">
              <label>Number of rooms (of this type)</label>
              <input type="text"  class="form-control" >
            </div>
            <br>
          </div>
          <div class="col-md-6" style="margin-top: 25vh">
            <div class="form-group ">
              <label>Custom name (optional)</label>
              <input type="text"  class="form-control" >
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="card">
            <h3>Bed options</h3>
            <span class="form-text"  style="background-color: gainsboro ; padding: 0.5rem">Tell us only about the existing beds in a room. Do not include extra beds.</span>
            <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Room type</label>
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
            <br>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Room type</label>
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
            <br>
          </div>
        </div>
        <a><i class="fa fa-plus-circle fa-2x"></i> Add another bed</a>
            <br>
            <div class="form-group col-md-4">
              <label style="margin-bottom: 0.8rem">How many guests can stay in this room?</label>
              <div class="row">
                <div class="col-md-8">  <input type="text"  class="form-control" ></div>
                <div class="col-md-4">  <i class="fa fa-user fa-2x"></i></div>
              </div>

            </div>
            <br>
      </div>
      <br>
      <div class="card">
        <h3>Room size (optional)
        </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text"  class="form-control" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select  class="form-select">
                <option [ngValue]="null" disabled>Select county</option>
                <option value="double">double</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <h3>Base price per night</h3>
        <span class="form-text"  style="background-color: gainsboro; padding: 0.5rem">This is the lowest price that we automatically apply to this room for all dates.
          Before your property goes live, you can set seasonal pricing in your property dashboard.</span>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-outline-dark" style="width: 100%; height: 8vh; text-align: center">Go back to overview</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" style="width: 100%; height: 8vh; text-align: center" (click)="viewRoom()">Continue</button>
        </div>
      </div>
      <br>
    </form>


    <div class="col-md-9" *ngIf="isViewRoom ">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <h5>Single Room with Garden View</h5>
          </div>

          <div class="col-md-3">
            <p>Number of this type: 1</p>
          </div>
          <div class="col-md-3" style="color: blue">
            <a>Edit</a>&nbsp;&nbsp;
            <a>Delete</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <h5>Single Room with Garden View</h5>
          </div>

          <div class="col-md-3">
            <p>Number of this type: 1</p>
          </div>
          <div class="col-md-3" style="color: blue">
            <a>Edit</a>&nbsp;&nbsp;
            <a>Delete</a>
          </div>
        </div>
      </div>
      <br>

      <div class="row offset-2">
        <div class="col-md-6">
          <button class="btn btn-outline-dark" style="width: 100%; height: 8vh; text-align: center">Add another room</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" style="width: 100%; height: 8vh; text-align: center">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
