<app-navbar></app-navbar>

<div class="row gy-5">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-8">
    <div class="p-3 table-responsive">
      <table class="table caption-top align-middle">
        <caption>{{properties.length}} Pending Properties </caption>
        <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let property of properties">
          <td>{{property.name}}</td>
          <td>
            <div class="dropdown dropend">
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="Approve property">
                <i (click)="getProperty(property)" class="fa fa-edit fa-1x" aria-hidden="true" data-bs-toggle="modal"
                   data-bs-target="#approvePropertyModal" ></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- approve-property Modal -->
<div class="modal fade " id="approvePropertyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to approve this property?
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel btn btn-link" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-link" (click)="approveProperty()">Approve</button>
      </div>
    </div>
  </div>
</div>
